Repository paviliondev/discourse-category-lockdown: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, prettier-scss, eslint

rubocop:
  run: bundle exec rubocop --parallel --force-exclusion {staged_files}

prettier:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn prettier --list-different {staged_files}

prettier-scss:
  include: app/assets/stylesheets|plugins/.+?/assets/stylesheets
  run: yarn prettier --list-different {staged_files}

eslint:
  include: app/assets/javascripts|plugins/.+?/assets/javascripts
  run: yarn eslint -f compact --quiet {staged_files}

Add crawler fixes and spec
  assets/javascripts/discourse/initializers/extend-for-lockdown.js
  lib/category_lockdown/crawler_html_builder.rb
  lib/category_lockdown/engine.rb
  lib/category_lockdown/post_guardian_extension.rb
  lib/category_lockdown/topic_view_extension.rb
  lib/category_lockdown/topics_controller_extension.rb
  plugin.rb
  spec/integration/category_lockdown_spec.rb
Due: rubocop, prettier, eslint

DEV: Replace modifyClass with registerValueTransformer for topic list item
  assets/javascripts/discourse/initializers/extend-for-lockdown.js
Due: prettier, eslint

DEV: Make icon a glimmer component
  assets/javascripts/discourse/connectors/topic-link__before/category-lockdown-icon.gjs
  assets/javascripts/discourse/initializers/extend-for-lockdown.js
Due: prettier, eslint

bump api version for compatibility
  assets/javascripts/discourse/initializers/extend-for-lockdown.js
Due: prettier, eslint

Ensure compatibility
  .discourse-compatibility
Due: none

bump version
  plugin.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.js
  prettier-scss: any of: *.scss
  eslint: any of: *.js
